GOOGLE_CLIENT_ID=799357609157-44bcg2dtiuevi2iafdqvk4um8ler43jg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
ADMIN_EMAILS=phtcon@ucsb.edu,avishekde@ucsb.edu,vivianross@ucsb.edu,bzamoraflores@ucsb.edu,andrewpeng@ucsb.edu,rbriggs@ucsb.edu,cherylstanley@ucsb.edu,jessicanguyen@ucsb.edu,arojasrodriguez@ucsb.edu,yqin@ucsb.edu,simonlai@ucsb.edu,b_feng@ucsb.edu